h1{
    color:brown
}
#apropos{
    color: brown;
}
#travail{
    color: brown;
}
#cv{
    color: brown;
}
#contact{
    color: brown;
}
.menu{
    color: black;
}
.apropos0{
    background-color: black;
}
.travail1{
    background-color: black;
}
.cv2{
    background-color: black;
}
.contact3{
    background-color: black;
}
.copyright{
    color: blueviolet;
}
.menu{
    background-color: brown;
}